= link_to t('category.create'), new_admin_category_path, class: 'btn btn-primary category-create'
.categories-list
  - @categories.each do |category|
    = render partial: 'categories/category', locals: {category: category}