.answer-item{
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  position: relative;
  .time{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.answer-actions{
  a {
    margin-right: 10px;
  }
}
.correct-answer-icon{
  height:40px;
  width:40px;
  margin-left: 10px;
  background-image: url("../images/sprites.svg");
  background-position:  -40px -270px, -40px -270px;
}