.comment-form {
  margin-top: 20px;
}
.comment-item{
  &>div{
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
  }
  min-height: 30px;
  margin-top: 5px;
  .comment-text-body{
    float:left;
    margin-top: 2px;
    font-style: italic;
  }
  .comment-right-part{
    float: right;
    .comment-date{
      float:left;
    }
    .comment-actions{
      float: right;
    }
  }
}
