.logo{
  color: #ffffff;
  a {
    color: #ffffff;
    font-size:35px;
  }
}
.error{
  border: 1px solid #ff0000 !important;
}
.error-text{
  color: #ff0000;
}
body>.alert{
  margin-top: 50px;
}
.user_profile_link{
  *{
    margin-right:10px;
  }
}
.js-ajax-load-image{
  position: fixed;
  left: 50%;
  top: 35%;
}
.widget{
  border: 2px solid #2E2F30;
  border-radius: 8px;
  padding: 10px;
  float: left;
  margin-top: 10px;
  margin-right: 100px;
  .title{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    .left-arrow{
      cursor: pointer;
      float:left;
      margin-top: 4px;
    }
    .right-arrow{
      cursor: pointer;
      float: right;
      margin-top: 4px;
    }
    .title-text{}
  }
  .widget-item{
    padding: 5px;
    &>div{
      display: inline-block;
    }
    .title{
      font-size: 15px;
    }
  }
}
.content-actions{
  &>div{
    display: inline-block;
  }
  .authentication-links{
    margin-left:100px;
  }
}
.rate-block{
  text-align: center;
  font-size: 30px;
}
.highlight{
  border: 2px solid #ff0000;
}
.authentication-links .rating{
  display: inline-block;
  color: #ffffff;
}