.logo{
  color: #ffffff;
  a {
    color: #ffffff;
    font-size:35px;
  }
}
.error{
  border: 1px solid #ff0000 !important;
}
.error-text{
  color: #ff0000;
}
body>.alert{
  margin-top: 50px;
}
.user_profile_link{
  *{
    margin-right:10px;
  }
}
.js-ajax-load-image{
  position: fixed;
  left: 50%;
  top: 35%;
}
.widget{
  border: 2px solid #2E2F30;
  border-radius: 8px;
  padding: 10px;
  float: left;
  margin-top: 10px;
  margin-right: 100px;
  .title{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    .left-arrow{
      cursor: pointer;
      float:left;
      margin-top: 4px;
    }
    .right-arrow{
      cursor: pointer;
      float: right;
      margin-top: 4px;
    }
    .title-text{}
  }
  .widget-item{
    padding: 5px;
    &>div{
      display: inline-block;
    }
    .title{
      font-size: 15px;
    }
  }
}
.content-actions{
  &>div{
    display: inline-block;
  }
  .authentication-links{
    margin-left:100px;
    a{
      margin-left: 10px;
    }
  }
}
.rate-block{
  text-align: center;
  font-size: 30px;
}
.highlight{
  border: 2px solid #ff0000;
}
.authentication-links .rating{
  display: inline-block;
  color: #ffffff;
}
.bootstrap-tagsinput {
  width: 100% !important;
}
.modal-form{
  margin-top: 15px;
}
.modal-footer{
  .social{
    float: left;
    a{
      height: 32px;
      width:32px;
      display: inline-block;
    }
    .facebook{
      background-image: url("../images/facebook.png");
    }
    .twitter{
      background-image: url("../images/twitter.png");
    }
    .vkontakte{

    }
    .instagram{

    }
  }
}
.search-popup{
  position: absolute;
  width:17.5%;
  height: 340px;
  background-color: #CCCCFF;
  border: 2px solid #ccc;
  ul{
    list-style-type: none;
    padding:0px;
    li{
      margin-top: 10px;
      a{
        display: inline-block;
        width: 100%;
        padding-left: 25px;
        height: 26px;
        padding-top: 5px;
      }
    }
    li.empty-list{
      font-size: 18px;
      font-style: italic;
      color: #000;
    }
    .question-icon{
      background-image: url("../images/question_mark_filled-25.png");
      background-position: left center;
      background-repeat: no-repeat;
    }
  }
}