.question-item{
  border: 2px solid #dddddd;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  .main-info {
    div{
      display: inline-block;
    }
    .title {
      padding: 10px;
    }
  }
  .actions-panel{
    a{
      margin-left: 10px;
    }
  }
}
.question-show{
  legend{
    position: relative;
    span.title {
      word-break: break-all;
    }
    span.question-author{
      font-size: 15px;
    }
  }
  .question-time{
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 15px;
    bottom: 5px;
  }
  .answers-list{
    margin-left: 70px;
  }
}

.questions-page{
  &>div{
    display: inline-block;
  }
}
.question-show{
}
.question-action{
  a{
    margin-right: 10px;
  }
}