.profile-pages{
  &>div{
    display: none;
  }
  &>div.active{
    display: block;
  }
  .definitio_user{
    text-align: right;
    font-style: italic;
  }
}
#profile{
  fieldset{
    legend {
      *{
        display: inline-block;
      }
      .edit-user {
        float:right;
      }
    }
  }
}
#statistic{
  .form-horizontal{
    p{
      margin-top: 8px;
    }
  }
}